<h1 class="page-header">Getting started</h1>


<ol>
  <li>
    <p>Download <a href="#">angular-here-maps.js</a> (<a href="#">minified version</a>) and put it with your other scripts.</p>
    <p>you can also use <a href="#">Bower</a> to install it automatically</p>

    <div class="highlight highlight-sh"><pre>bower install angular-here-maps --save</pre></div>
  </li>
  <li>
    <p>Load angular-here-maps.js into your HTML page:</p>

    <div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>/path/to/bower_components/angular-here-maps/build/angular-here-maps.min.js<span class="pl-pds">"</span></span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>text/javascript<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;</pre></div>
  </li>
  <li>
    <p>Include the Here Maps API v3 Javascript files:</p>
<div class="highlight highlight-html"><pre>
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>/path/to/bower_components/here-maps-api/modules/mapsjs-core.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>/path/to/bower_components/here-maps-api/modules/service/mapsjs-service.js<span class="pl-pds">"</span></span>&gt;</pre></div>
  </li>
  <li>
    <p>Make your application module depend on the angular-here-maps module:</p>
    <div class="highlight highlight-js"><pre><span class="pl-k">var</span> app <span class="pl-k">=</span> angular.module(<span class="pl-s"><span class="pl-pds">'</span>myApp<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>angular-here-maps<span class="pl-pds">'</span></span>]);</pre></div>
  </li>
  <li>
    <p>Configure Angular Here Maps:</p>
    <div class="highlight highlight-js"><pre>.config(<span class="pl-k">function</span>(<span class="pl-smi">MapConfigProvider</span>) {
    MapConfigProvider.setOptions({
        appId<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>your Here Maps app id<span class="pl-pds">'</span></span>,
        appCode<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>your Here Maps app code<span class="pl-pds">'</span></span>
    });
})</pre></div>
    <p>You will need an <strong>appId</strong> and <strong>appCode</strong> which you can get <a href="https://developer.here.com/myapps/create-eval" target="_blank">here:</a></p>
  </li>
  <li>
    <p>Add a map object to your scope with your zoom and center values:</p>
    <pre>$scope.map = {
  zoom: 14,
  center: { 
    lng: -0.135559,
    lat: 51.513872
  }
}</pre>
  </li>
  <li>
    <p>include the map element in your html:</p>
    <div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">map</span> <span class="pl-e">zoom</span>=<span class="pl-s"><span class="pl-pds">"</span>map.zoom<span class="pl-pds">"</span></span> <span class="pl-e">center</span>=<span class="pl-s"><span class="pl-pds">"</span>map.center<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">map</span>&gt;</pre></div>
  </li>
  <li>
    <p>Specify a height for the here map container:</p>
    <pre>.angular-google-map-container { height: 400px; }</pre>
  </li>
</ol>