<h1 class="page-header">Angular Here Maps</h1>
<div class="row">
  <div class="col col-md-4">
    <div class="well">
      <p class="lead"><a href="http://www.angularjs.org/" target="_blank">AngularJS</a> directives to integrate <a href="#">Nokia Here Maps</a> into your applications - An alternative to Google Maps</p>
      <a href="https://rawgit.com/lukemarsh/angular-here-maps/1.0.6/dist/angular-here-maps.min.js" class="btn btn-success" target="_blank">Download (1.0.6)</a>
      <a href="https://github.com/lukemarsh/angular-here-maps" class="btn btn-default">View on GitHub</a>
      <hr>
      <!-- ADDTHIS BUTTON BEGIN -->
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-552cca861aa82382"></script>
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_compact"></a>
      </div> 
      <!-- ADDTHIS BUTTON END -->
    </div>
  </div>
  <div class="col col-md-8">
    <map center="map.center" zoom="map.zoom"></map>
  </div>
</div>
<div class="row">
  <div class="col col-md-6">
    <h2>About</h2>
    <p>Angular Here Maps is a set of directives written in Javascript which integrates Nokia Here Maps in an AngularJS application.</p>
    <p>It is based on the <a href="#">Nokia Here Maps Javascript API version 4.</a></p>
  </div>
  <div class="col col-md-6">
    <h2>Features</h2>
    <p>There are directives for some of the Here Maps objects, including markers and windows. We're currently working on integrating more layer objects, including lines and shapes and such.</p>
  </div>
</div>
<div class="row">
  <div class="col col-md-6">
    <h2>Contributing</h2>
    <p>The code is hosted on GitHub. If you need a feature which isn't implemented yet, please use our issue tracker to open a feature request, or fork our repository, implement the feature and issue a pull request. Contributions are more than welcome!</p>
  </div>
  <div class="col col-md-6">
    <h2>Branching model</h2>
    <p>We chose git flow as our branching model. The main development is done in the develop branch. The master branch almost always reflects the latest tagged version, but sometimes some quick fixes can land into it.</p>
    <p>If you are interested in contributing, we encourage you to learn about git flow.</p>
  </div>
</div>